table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table th{
    font-size: 3vh;    
}

th, td {
    padding: 1vh;
}

tr.content:hover{
    background-color: red;
    cursor: pointer;
}

button{
    margin-top: 10vh;
    width: 20vw;
} 